{% extends "base.html" %}

{% block title %}
    <title>edit - Task Mate</title>
{% endblock title %}

{% block content %}
    <div class="container">
    </br>
    {% if task.obj.manage == request.user %}
        <form method="POST" class="row">
            {% csrf_token %}
            <label for="text" class="col-lg-2 col-form-label">Enter your task</label><br>
            <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
            <input type="hidden" name="done" value="{{task_obj.done}}">     
        </br>

            <button type="submit" class="btn btn-primary col-lg-2 ">update task</button>
          </form>
    {% else %}
          <p>Access Restricted, You Are Not Allowed</p>
    {% endif %}
      </div>
{% endblock content %}